Options +FollowSymLinks -MultiViews
DirectoryIndex index.html
RewriteEngine Off

<Files *.html>
    Order Allow,Deny
    Allow from all
</Files>

<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico|svg)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
